

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul li{
	list-style: none;
	display: inline;
}
ul li img{
	width: 100px;
}















